:root {
  --primary-dark: hsl(213, 53%, 21%);
  --primary: hsl(213, 19%, 55%);
  --primary-light: hsl(210, 15%, 89%);
  --primary-lightest: hsl(0, 0%, 97%);
  --secondary-dark: hsl(11, 100%, 61%);
  --secondary: hsl(11, 100%, 76%);
  --secondary-light: hsl(11, 100%, 84%);
  --secondary-lightest: hsl(11, 100%, 92%);
  --border-light: hsl(210, 15%, 89%);
  --border-dark: hsl(213, 19%, 55%);

  --ff-sans: "Open Sans", sans-serif;
  --ff-serif: serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul[class] li,
ol[class] li {
  list-style: none;
  padding: 0;
}

body {
  font-family: "Open Sans";
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 4rem 1.875rem 5rem 1.875rem;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--primary-dark);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.125;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  text-align: center;
}

h2 {
  color: var(--primary-dark);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.143;
  margin-bottom: 0.625rem;
}

h3 {
  color: var(--primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.333;
  margin-bottom: 0.625rem;
}

.bold-16 {
  color: var(--primary-dark);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.125;
  text-align: center;
}

.semibold-16 {
  color: var(--primary-dark);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.semibold-16-light {
  color: var(--primary);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.semibold-14-uppercase {
  color: var(--primary-dark);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.286;
  text-transform: uppercase;
}

.semibold-14 {
  color: var(--primary-dark);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.143;
}

.regular-12 {
  color: var(--primary);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.333;
}

.regular-14 {
  color: var(--primary-dark);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.429;
}

.filled {
  fill: var(--primary-dark);
}
