footer {
  position: fixed;
  bottom: 0;
  padding: 1.25rem;
  width: 100%;
  z-index: 100;
}

.iconbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 0.375rem;
  height: 2.75rem;
}
.iconbox__item--disabled > img {
  opacity: 0.5;
}

.iconbox__item svg path {
  fill: var(--primary-dark);
}

.iconbox__item--disabled svg path {
  fill: var(--primary);
}

.iconbox__item--disabled:hover svg path {
  fill: var(--secondary-dark);
}
