footer {
  position: fixed;
  bottom: 0;
  padding: 1.25rem;
  width: 100%;
  z-index: 100;
}
.iconbox {
  background-color: white;
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 2.75rem;
}
.iconbox__item--disabled {
  opacity: 0.5;
}

object {
  fill: #0000ff;
}
