textarea {
  margin-bottom: 1rem;
  padding: 1rem;
  resize: none;
}

.form__buttons {
  display: flex;
  justify-content: space-around;
}

.form__button {
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin: 1rem 0rem;
  padding: 1rem 0;
  text-align: center;
  background-color: var(--secondary-dark);
  width: 12.5rem;
}

.form__button img {
  margin-left: 0.5rem;
}

.form__button--off {
  background-color: white;
  border: none;
  color: var(--primary-dark);
  margin-right: 1rem;
}

.journal {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.form__stars {
  display: flex;
  justify-content: space-around;
  height: 2.154rem;
  margin-bottom: 1.315rem;
}

.form__rectangles {
  display: flex;
  justify-content: space-between;
  height: 1.625rem;
  margin-bottom: 1.315rem;
}
.form__rectangles img {
  height: 100%;
}

.form__stars img {
  height: 100%;
}
