header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  background-image: url("../../images/background_shape_1.svg");

  /* cover only works on svg viewport, content does not get stretched, even with preserveAspectRatio="none" in .svg */
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: bottom;

  height: 3.387rem;
  width: 100%;
  z-index: 100;
}

.header__doublespace {
  height: 5.063rem;
  justify-content: flex-start;
}
