header {
  background-image: url("../../images/background_shape_1.svg");
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.387rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
