header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  background-image: url("../../images/background_shape_1.svg");
  background-size: contain;
  height: 3.387rem;
  width: 100%;
  z-index: 100;
}
