.topitem {
  border-radius: 0.375rem 0.375rem 0 0;
}

.bottomitem {
  border-radius: 0 0 0.375rem 0.375rem;
}

.plus {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.25rem;
  height: 1.25rem;
}

.memberbox {
  margin-top: 0.625rem;
  margin-bottom: 1.875rem;
}

.memberbox__pair {
  position: relative;
}

.memberbox__item {
  border: 1px solid var(--border-light);
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
  text-align: center;
  padding: 1.125rem 0;
}
